body {

}

main {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}

h1, h2 {
    font-family: Georiga, serif;
    font-weight: normal;
}

h1 {
    font-size: 60px;
}

h2 {
    margin-top: 35px;
}

form {
    font-family: sans-serif;
}

label {
    display:block;
    font-size: 13px;
    margin-bottom: 5px;
}

#url {
    width:300px;
}

ul {
    list-style-type: circle;
    padding-left: 18px;
}

li {
    margin-bottom: 15px;
}

a {
    font-size: 13px;
    font-family: sans-serif;
    color:gray;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}