body {
  margin-top:0;
  font-size: 1em;
}

#topbar {
  background-color: rgb(25, 25, 25);
  height:50px;
  display:block;
  margin-bottom: 50px;
}

#topbar h1 {
  font-size: 16px;
  color: rgb(220, 220, 220);
  margin-top:0;
  margin-left: 15px;
  padding-top: 12px;
}

h1, h2 {
  font-family: Georgia, serif;
  font-weight: normal;
}

h1 {
  font-style: italic;
}

.messages-list {
  list-style: none;
  padding-left: 0;
}

.messages-list li h3 {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.messages-list li {
  padding:15px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: top left;
  border:solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color:rgb(220, 220, 200);
}

.messages-list li p {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 5px;
}

.date, .category {
  font-size: 0.8em;
  display:inline-block;
  font-style: italic;
  margin:0;
}

.category {
  font-weight: bold;
}


/* Message category classes */

.vagtrafik, .kollektivtrafik, .planerad-storning, .ovrigt {

}

.vagtrafik {
  background-image: url("images/vagtrafik.svg");
}

.kollektivtrafik {
  background-image: url("images/kollektivtrafik.svg");
}

.planerad-storning {
  background-image: url("images/planerad-storning.svg");
}

.ovrigt {
  background-image: url("images/ovrigt.svg");
}
