body {
  margin-top:0;
  font-size: 1em;
}

#topbar {
  background-color: rgb(25, 25, 25);
  height:50px;
  display:block;
  margin-bottom: 50px;
}

#topbar h1 {
  font-size: 16px;
  color: rgb(220, 220, 220);
  margin-top:0;
  margin-left: 15px;
  padding-top: 12px;
}

h1, h2 {
  font-family: Georgia, serif;
  font-weight: normal;
}

h1 {
  font-style: italic;
}

.messages-list {
  list-style: none;
  padding-left: 0;
}

.messages-list li h3 {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.messages-list li {
  padding:15px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top left;
  border:solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color:rgb(220, 220, 200);
}

.message-anchor {
  color: #000;
  text-decoration: none;
  display:block;
}

.message-anchor:hover, .message-anchor:focus {
  background-color: rgb(250, 250, 240);
}

.messages-list li p {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 5px;
}

label, select, .timestamp {
  font-size: 0.8em;
}

label {
  font-weight: bold;
}

select {
  margin-top: 5px;
  margin-bottom: 25px;
}

.timestamp {
  color: rgb(255, 130, 130);
  font-weight: bold;
  margin-bottom: 35px;
}

.date, .category {
  font-size: 0.8em;
  display:inline-block;
  font-style: italic;
  margin:0;
}

.category {
  font-weight: bold;
}


/* Message category classes: Background images */

.vagtrafik {
  background-image: url("images/vagtrafik-05.svg");
}

.kollektivtrafik {
  background-image: url("images/kollektivtrafik-06.svg");
}

.planerad-storning {
  background-image: url("images/planerad-storning-07.svg");
}

.ovrigt {
  background-image: url("images/ovrigt-08.svg");
}


/* Map css */
#map {
  height: 600px; 
}
